{% extends 'samazon_admin/base.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}

    <table>
      <tr>
        <th>親カテゴリー</th><td>{{ form.major_category }}</td>
      </tr>
      <tr>
        <th>カテゴリー</th><td>{{ form.name }}</td>
      </tr>
      <tr>
        <th>説明</th><td>{{ form.description }}</td>
      </tr>
    </table>

    <button type="button" class="back-btn" data-action="{% url 'samazon_admin:category_list' %}">戻る</button>
    <button>登録</button>
  </form>
{% endblock %}