{% extends 'core/base.html' %}

{% block javascript %}
  <script>
    $(function () {
      function deleteFavorite(favoriteIds) {
        $.ajax({
          headers: { 'X-CSRFToken': '{{ csrf_token }}' },
          url: '/favorite/delete/',
          method: 'post',
          data: { favorite_ids: favoriteIds }
        }).done(function (response) {
          location.reload();
        })
      }

      $('.all-delete-btn').click(function () {
        if (confirm('商品をすべて削除してもよろしいですか？')) {
          const favoriteIds = $('.delete-btn').map(function () {
            return $(this).data('favorite_id');
          }).get();
          deleteFavorite(favoriteIds);
        }
      });

      $('.delete-btn').click(function () {
        const favoriteId = [$(this).data('favorite_id')];
        deleteFavorite(favoriteId);
      });
    });
  </script>
{% endblock %}

{% block content %}
  {% if user.favorites.count > 0 %}
    <table>
      <thead>
        <tr>
          <th></th>
          <th><button class="all-delete-btn">すべて削除</button></th>
        </tr>
      </thead>
      <tbody>
        {% for favorite in user.favorites.all %}
          <tr>
            <td>
              <a href="{% url 'core:product_detail' favorite.product.pk %}">
                <img src="{{ favorite.product.photo.url }}" width="200">
              </a>
              {{ favorite.product.name }}
            </td>
            <td><button class="delete-btn" data-favorite_id="{{ favorite.pk }}">削除</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    現在お気に入り商品はありません
  {% endif %}
{% endblock %}